@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
  @apply bg-green-700 text-white rounded-full;
}
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: green;
}
